{template "content","header"}
<!--main-->
    <div class="news-hot">
		图片轮动
    </div>
    <div class="col-auto">
	    <!--<h5>财经观察</h5>-->
        <div class="box cat-area">
			   <h5 class="title-1">{$CATEGORYS[7]['catname']}<a href="{$CATEGORYS[7]['url']}" class="more">更多>></a></h5>
             <div class="content">
                {pc:content action="lists" catid="7" num="8" order="inputtime DESC" }
						<ul class="list lh24 f14">
						{loop $data $v}
							<li class="cjgc_li">
							<a href="{$v['url']}" target="_blank" title="{$v['title']}"{title_style($v[style])}>
								<span class="tl">{str_cut($v['title'],130)}</span>
								<span class="it">{date('Y-m-d H:i:s',$v['inputtime'])}</span>
							</a>
							</li>
						{/loop}
						</ul>
                {/pc}
            </div>
        </div>
    </div>
<div class="box blogroll ylink">
	<ul class="colli imgul">
        {pc:link  action="type_list" siteid="$siteid" linktype="1" order="listorder DESC" num="8" return="pic_link"}
        {loop $pic_link $v}
			<li><a href="{$v['url']}" title="{$v['name']}" target="_blank"><img src="{$v[logo]}" width="88" height="31" /></a></li>
        {/loop}
        {/pc}
    </ul>

	<script type="text/javascript"> 
	$(function(){
		new slide("#main-slide","cur",310,260,1);//焦点图
		new SwapTab(".SwapTab","span",".tab-content","ul","fb");//排行TAB
	})
	</script>
</div>
{template "content","footer"}